{% block doc %}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {% block html %}
        <head>
            {% block head %}
                <title>{% block title %}{{ title|default }}{% endblock title %}</title>

                {%- block metas %}
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                {% endblock metas %}

                <!-- Bootstrap -->
                <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
                {% block styles %}
                {%- endblock styles %}
            {%- endblock head %}
        </head>
        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body %}
            {% block headnavbar %}
            {% endblock headnavbar %}
            {% block content %}
            {% endblock content %}
            {% block scripts %}
                <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
                <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
                <script src="{{ url_for('static', filename='js/colResizable-1.6.js') }}"></script>
                <script src="{{ url_for('static', filename='js/bootstrap-table-resizable.js') }}"></script>
            {% endblock scripts %}
        {% endblock body %}
        </body>
        {% block jsp %}
        {% endblock jsp %}
    {% endblock html %}
    </html>
{% endblock doc %}
